[submodule "qt-client"]
	path = qt-client
	url = https://github.com/xtuple/qt-client
[submodule "openrpt"]
	path = openrpt
	url = https://github.com/xtuple/openrpt
[submodule "csvimp"]
	path = csvimp
	url = https://github.com/xtuple/csvimp
