dnl This gets processed by m4.
dnl Macros:
dnl   PACKAGE_NAME
dnl   PACKAGE_VERSION
dnl   BINARY
dnl   BINARY_TARGET
dnl   CLIENT
dnl   SERVER
Source: PACKAGE_NAME
Section: database
Priority: optional
Maintainer: Package Maintainer <packaging@xtuple.com>
Homepage: http://www.xtuple.com
ifelse(BINARY, 1, `',`Build-Depends: m4`'ifelse(CLIENT, 1,`, g++, gcc, libqt4-dev, qt4-qmake, libpq-dev',`')')`'dnl

Package: PACKAGE_NAME`'-client
Version: PACKAGE_VERSION
Architecture: any
Depends: libgcc1, libpq5, libqt4-core, libqt4-core, libqt4-designer, libqt4-gui, libqt4-help, libqt4-network, libqt4-script, libqt4-svg, libqt4-webkit, libqt4-xml, libqt4-xmlpatterns, libqt4-sql-psql
Breaks: PACKAGE_NAME`'-client (<< PACKAGE_VERSION)
Conflicts: PACKAGE_NAME`'-client (<< PACKAGE_VERSION)
Provides: PACKAGE_NAME`'-client
Description: xTuple provides integrated ERP and CRM functionality in a single cross-platform product.

Package: PACKAGE_NAME`'-server
Version: PACKAGE_VERSION
Architecture: any
Depends: postgresql, postgresql-contrib
Breaks: PACKAGE_NAME`'-server (<< PACKAGE_VERSION)
Conflicts: PACKAGE_NAME`'-server (<< PACKAGE_VERSION)
Provides: PACKAGE_NAME`'-server
Description: xTuple provides integrated ERP and CRM functionality in a single cross-platform product.

Package: PACKAGE_NAME`'-database
Version: PACKAGE_VERSION
Architecture: any
Depends: 
Breaks: PACKAGE_NAME`'-database (<< PACKAGE_VERSION)
Conflicts: PACKAGE_NAME`'-database (<< PACKAGE_VERSION)
Provides: PACKAGE_NAME`'-database
Description: xTuple provides integrated ERP and CRM functionality in a single cross-platform product.

