#!/usr/bin/make -f
# This file is derived in part from the hello-debhelper project and used according to license.
pkgname?=$(shell cat debian/control | awk '/^Source:/ { printf "%s" , $$2 ; }')

clean:
	dh_clean

install: build
	dh_clean
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/$(pkgname) install

build:
	$(MAKE)

binary-indep: install

binary-arch: install
	dh_installdocs -a
	dh_installchangelogs -a
	dh_strip
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean install build

